body {
  color: white;
  background: DodgerBlue;
}
.banner { 
  font-size: 2rem;
  text-align: center;
  margin: 2.5rem 1rem;
  padding: 15px 10px 10px 10px;
  color: white;
}

.white {
  color: white;

.nav {
  background-color: lightblue;
  color: white;
  font-size: 1.75rem;
