body {
  color: white;
  background: DodgerBlue;
}
.banner { 
  font-size: 1.75rem;
  text-align: center;
  margin: 2.5rem 1rem;
  padding: 15px 10px 10px 10px;
  background-color: blue;
  color: white;
}

.white {
  color: white;
